<div class="container p-4">
<h1 style="color: darksalmon; text-align: center;">AGRADECIMIENTOS</h1>
<p style="color: ghostwhite; text-align: center;">La mayoría de la información utilizada en está aplicación fue extraída
    de FANDOM tanto en su versión en español como en la de ingles.
</p>
<center><a href="https://www.fandom.com/explore-es?uselang=es"><img src="/OP-images/fan.png" alt=""></a></center>

<h2 style="color: ghostwhite; text-align: center;">Muchas Gracias!</h2>
</div>