<div class="container">
    
    <div class="fondo" style="padding-left: 120px;">
        <h1 class="text-white my-5 pt-5 text-center">Top 10 más Fuertes por la Asociación de Héroes</h1>
    <div class="row">
        
            <div class="col-md-3 fondo1 p-0 m-3" >
                <a href="/heroes/Blast">
                <img src="/img/Blast.png" class="w-100" style="height: 255px;" alt="">
                <h2>1</h2>
                <p>Blast</p>
                </a>
            </div>
        

        
            <div class="col-md-3 fondo1 p-0 m-3 ">
                <a href="/heroes/Tatsumaki">
                <img src="/OP-images/195.jpg" class="w-100" style="height: 255px;" alt="">
                <h2>2</h2>
                <p>Tatsumaki</p>
                </a>
            </div>

            <div class="col-md-3 fondo1 p-0 m-3 " style="height: 200px;">
                <a href="/heroes/Silver-Fang">
                <img src="/img/Silver Fang.png" class="w-100" height="height: 255px;" alt="">
                <h2>3</h2>
                <p>Silver-Fang</p>
                </a>
            </div>
        

            <div class="col-md-3 fondo1 p-0 m-3 " >
                <a href="/heroes/Atomic-Samurai">
                <img src="/OP-images/ATOMIC SAMURAI.jpg" class="w-100"  style="height: 255px;" alt="">
                <h2>4</h2>
                <p>Atomic-Samurai</p>
                </a>
            </div>

            <div class="col-md-3 fondo1 p-0 m-3 " >
                <a href="/heroes/Child-Emperor">
                <img src="/OP-images/2F4.jpg" class="w-100"  style="height: 255px;" alt="">
                <h2>5</h2>
                <p>Child-Emperor</p>
                </a>
            </div>

             <div class="col-md-3 fondo1 p-0 m-3 " >
                <a href="/heroes/Metal-Knight">
                <img src="/OP-images/296948.jpg" class="w-100"  style="height: 255px;" alt="">
                <h2>6</h2>
                <p>Metal-Knight</p>
                </a>
            </div>

             <div class="col-md-3 fondo1 p-0 m-3 " >
                <a href="/heroes/King">
                <img src="/OP-images/981.jpg" class="w-100"  style="height: 255px;" alt="">
                <h2>7</h2>
                <p>King</p>
                </a>
            </div>

             <div class="col-md-3 fondo1 p-0 m-3 " >
                <a href="/heroes/Zombieman">
                <img src="/OP-images/1DC.jpg" class="w-100"  style="height: 255px;" alt="">
                <h2>8</h2>
                <p>Zombieman</p>
                </a>
            </div>

             <div class="col-md-3 fondo1 p-0 m-3 " >
                <a href="/heroes/Drive-Knight">
                <img src="/OP-images/0F4.jpg" class="w-100"  style="height: 255px;" alt="">
                <h2>9</h2>
                <p>Drive-Knight</p>
                </a>
            </div>


            <div class="col-md-3 fondo1 p-0 m-3 " >
                <a href="/heroes/Pig-God">
                <img src="/OP-images/A30.jpg" class="w-100"  style="height: 255px;" alt="">
                <h2>10</h2>
                <p>Pig-God</p>
                </a>
            </div>
        </div>
    </div>
</div>



{{!-- <h4>10 heroes más fuertes</h4>


<p><a href="/heroes/Pig-God">10. PIG GOD</a></p> --}}