<div class="container">
    <div class="row my-5">
        <div class="col-md-8 fondo">
            <h1>Celulas Monstruosas</h1>
            <p>Las Células Monstruosas (怪人細胞, Kaijin Saibō) son células que pueden transformar a los humanos en kaijin
                después de ser ingeridas. </p>
            <h2>Descripción</h2>
            <p class="text-justify">Tienen la apariencia de lodos pulsantes, y si los humanos se inyectan o ingieren esas células,
                supuestamente comienzan a superar sus limitaciones humanas y se convierten en Kaijin
                Las células monstruosas se basan en los talentos del sujeto, pero tienen el costo de perder la capacidad
                de seguir creciendo. Las células de los monstruos también dependen del poder natural básico del propio
                humano para crear monstruos. Cuanto más fuerte es el humano, más fuerte es el monstruo que crea. Esto
                muestra que los humanos con un fuerte poder natural pueden transformarse en criaturas más horribles que
                las personas débiles que aún mantienen gran parte de su apariencia humana.</p>
        </div>

        <div class="col-md-4 p-0 fondo">
            <img class="w-100" src="/img/2.png" alt="">
            <div class="section ">
                <div class="titulo">
                    <h4 class="text-white text-center">Células Monstruosas</h4>
                </div>

                <div class="imagen">
                    <img src="/img/celulas.png" alt="">
                </div>

                <div class="titulo">
                    <h5 class="text-center">Informacion General</h5>
                </div>

                <div class="text">
                    <li>Tipo <span>Droga</span> </li>
                    <li>Creador <span><a class="text-danger" href="/monsters/Orochi">Orochi</a></span> </li>
                    <li>Dueño <span><a class="text-danger" href="/monsters/Nyan">Nyan</a></span> </li>
                </div>
            </div>
        </div>
    </div>
</div>