<div class="row py-2 mr-0 pr-0 mt-0">
    <div class="col-12 mt-3 w-100 mr-0 pr-0">
        <div class="carousel slide " id="myCarousel2" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#myCarousel2" data-slid-to="0" class="active"></li>
                <li data-target="#myCarousel2" data-slid-to="1"></li>
                <li data-target="#myCarousel2" data-slid-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="view">
                        <video class="video-fluid pr-0 mr-0 w-100" height="600px" autoplay loop muted>
                            <source src="video/one.webm" type="video/webm" />
                        </video>
                        <div class="mask rgba-indigo-light"></div>
                    </div>

                    <div class="carousel-caption d-block">
                        <h4>One Punch Man</h4>
                        <p>El héroe más fuerte</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="img/dos.jpg" style="margin-left:140px;" width="1050px" height="600px" alt="">
                    <div class="carousel-caption">
                        <a href="/heroes">
                            <div class="fondo">
                                <h3>Top 10 héroes.</h3>
                                <p>Conoce aquí los más Fuertes de a organización de Héroes</p>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="carousel-item">
                    <img src="img/fondo1.jpg" style="margin-left: 140px;" height="600px" alt="">
                    <div class="carousel-caption">
                        <h4>Monstruos más Buscados.</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas cum!</p>
                    </div>
                </div>
            </div>

            <a href="#myCarousel2" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>

            <a href="#myCarousel2" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
            </a>
        </div>
    </div>
</div>
>
<div class="container">


    <div class="row">
        <div class="col-md-9">
            <h2 class="text-center my-2 text-white mb-5">Héroes de la Semana</h2>
            <div class="fondo2">
                <a href="/heroes/King"><img src="/img/King.png" class="mr-3 ml-3" width="250px" alt=""></a>
                <a href="/heroes/Gafas"><img src="/img/Gafas1.png" class="mr-3" width="250px" height="255px" alt=""></a>
                <a href="/heroes/Saitama"><img src="/img/Saitama1.png" class="mr-3" width="250px" height="255px"
                        alt=""></a>
            </div>

            <div class="fondo3 mt-2" style="width: 830px;">
                <h4>Felicidades a nuestros héroes por su valentía en destreza ante los enemigos
                    de la asociación de monstruos, serán recompensados por su trabajo...</h4>
            </div>


            <h2 class="text-center mt-5 text-white mb-5">Video de la Semana</h2>
            <p class="text-center text-white">Cortesía @animelab</p>
            <iframe width="760" height="415" src="https://www.youtube.com/embed/atxYe-nOa9w" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="col-md-3 mr-0 pr-0" style="overflow: hidden; height:1000px">
            <h3 class="text-center text-white mb-5">Noticias</h3>
            <div class="cont" style="height: 1500px; overflow:scroll;">
                <a class="twitter-timeline" href="https://twitter.com/opm_es?ref_src=twsrc%5Etfw">Tweets by opm_es</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

        </div>       
    </div>

    <h3 class="text-white text-center my-5">Monstruos Más Buscados</h3>
     <div class="row my-3">
         
            <div class="col-md-3">                
                 <div class="card">                        
                    <div class="card-body">
                        <a href="/monsters/Garou"><img class="card-img-top w-100" src="img/Garou.png" alt=""> </a>                                         
                        <h3 class="text-center text-danger mt-1 mb-1">Se busca</h3>
                        <h6 class="text-center text-danger mt-1 mb-1">Recompensa: 30000$ </h6>
                    </div>
                </div>                                      
            </div>

        <div class="col-md-3">
             <div class="card">                        
                <div class="card-body">
                   <a href="/monsters/Orochi">  <img class="card-img-top w-100" src="img/Orochi.png" alt="">   </a>                 
                    <h3 class="text-center text-danger mt-1 mb-1">Se busca</h3>
                    <h6 class="text-center text-danger mt-1 mb-1">Recompensa: 20000$ </h6>
                </div>
            </div> 
        </div>

        <div class="col-md-3">
             <div class="card">                        
                <div class="card-body">
                   <a href="/monsters/Emperador%20Sin%20Ho">  <img class="card-img-top w-100" src="img/EMPERADOR SIN HO.png" alt="">     </a>               
                    <h3 class="text-center text-danger mt-1 mb-1">Se busca</h3>
                    <h6 class="text-center text-danger mt-1 mb-1">Recompensa: 10000$ </h6>
                </div>
            </div> 
        </div>
           
        </div>
</div>