<div class="container p-4">
<h1 style="text-align: center ; color:darksalmon ;">PATROCINADOR</h1>
<h1 style="text-align: center ; color: azure;">Narinki</h1>

<center><img src="/OP-images/Narinki.png" alt=""></center>
<br>
<p style="color: blanchedalmond;">Narinki (ナリンキ, Narinki) es un ejecutivo de alto nivel y uno de los 
    patrocinadores principales de la Asociación de Héroes. Su fondo contribuye al 7% de la 
    operación en la asociación.</p>
    <h1 style="text-align: center ; color: azure;">Personalidad</h1>
    <p style="color: blanchedalmond;">Narinki es un hombre de gustos caros, pero tenía la curiosidad de probar 
        el sushi común. También cuida mucho a su hijo y le pidió protección a los 
        héroes de Clase-S. Cuando la Asociación de Héroes prepara el plan de operación para 
        salvar a su hijo, se le muestra que no es un hombre paciente para confiarles que salve a su 
        hijo hasta el punto de crear su propio escuadrón de rescate privado para tomar el asunto en sus 
        propias manos.</p>
</div>