<div class="container p-4">
    <div class="row">

        {{#each PHOQ}}
        <div class="col-md-4">
            <div class="card text-center my-2" style="height: 350px;">

                <div class="card-body">
                    <img src="/OP-images/{{nombre}}.jpeg" style="padding: 0; margin:0; height:250px;"
                        class="card-img-top p-0 m-0" alt="">
                    <h2 class="card-title text-uppercase">
                        {{nombre}}
                    </h2>
                    <h4 class="card-text">
                        <span>Nivel de amenaza: </span> {{nivelAmenaza}}
                    </h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-8 fondo">
            <h2>Historia</h2>
            <p>En un momento desconocido, Phoenix Man era un actor y una mascota que interpretaba a un fénix idiota llamado Bird Brain ("Cerebro de Pájaro") en un programa televisivo de humor negro llamado '' Animal Kingdom '' que siempre revivía cada vez que moría accidentalmente en cada episodio. Debido al humor oscuro, el show fue cancelado a la reacción negativa de la audiencia y Phoenix Man fue despedido por su cruel y antipático productor. Incapaz de dejar ir su papel en el show, se negó a quitarse el disfraz y comenzó a perder su humanidad día a día. Hasta que un día descubrió que no podía quitárselo y comenzó a escuchar la voz de su traje. Esto haría que se 
                fusionase con el traje, convirtiéndolo en un Kaijin y otorgándole los poderes de un ave fénix.</p>

            <h2>Personalidad</h2>

            <p>Es el primer monstruo amigable en aparecer, no ataca a Garou a pesar de su actitud grosera en su contra. Cuando Rhino Wrestler le preguntó qué pensaba sobre su nivel de desastre, 
                comentó que no le importaba. Él también parece estar seguro de sus habilidades.</p>

            <h2>Anotaciones</h2>

            <p>Como monstruo de nivel Demonio, es seguro asumir que Phoenix Man es un ser poderoso. Tampoco parecía impresionado con la fuerza de Metal Bat y Garou. Sin embargo, incluso con la ayuda de sus compañeros de equipo, 
                declaró que luchar contra el robot de Metal Knight lo desgastaría. Phoenix Man posee la capacidad de resucitar después de una experiencia cercana a la muerte. Esta habilidad se deriva de cómo el traje que compone de su forma de monstruo cuando aún era humano. 
                Se basó en un personaje de la serie de televisión que constantemente moría y resucitaba más tarde.</p>
        </div>

        {{else}}

        {{/each}}

    </div>
</div>