<!-- Footer -->
<footer class="font-small cyan darken-3 bg-dark">
  <div class="container">
    <div class="row">  
      <div class="col-md-12 py-4">
        <div class="mb-1 flex-center text-center">
 
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
          </a>
       
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
          </a>
         
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
          </a>
          
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
          </a>
       
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg text-white fa-2x"> </i>
          </a>
        </div>
      </div>
    
    </div>
    
  </div>

  <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
    <a  class="text-white" style="text-decoration: underline;" href="https://www.crunchyroll.com/es/one-punch-man" target="_blank"> Donde ver Episodios</a>
  </div>


</footer>