
<div class="contenedor">
    <nav class="navbar navbar-expand-lg  ml-5 navbar1" style="background: none;">
    <a class="navbar-brand as" href="/mainApp">
      <img src="/img/saitama.png" height="50px" width="50px" alt="saitama">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link as" href="/one-punch-man">One Punch Man <span class="sr-only">(current)</span></a>
        </li>     
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle as" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Heroes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/heroes">Top 10 Heroes</a>          
            <a class="dropdown-item" href="/all-heroes">Todos los héroes</a>          
            <div class="dropdown-divider"></div>
            <a id="a" class="dropdown-item" href="/all-heroes-s">Héroes clase S</a>
            <a id="b" class="dropdown-item" href="/all-heroes-a">Héroes clase A</a>
            <a id="c" class="dropdown-item" href="/all-heroes-b">Héroes clase B</a>
            <a class="dropdown-item" href="/all-heroes-c">Héroes clase C</a>
          </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle as" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Monstruos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">               
              <a class="dropdown-item" href="/all-monsters">Todos los monstruos</a>          
              <div class="dropdown-divider"></div>
              <a id="a" class="dropdown-item" href="/all-monsters-dragon-plus">Monstruos Dragon ++</a>
              <a id="b" class="dropdown-item" href="/all-monsters-dragon-plus-1">Monstruos Dragon +</a>
              <a id="c" class="dropdown-item" href="/all-monsters-dragon">Monstruos Dragon </a>            
              <a id="c" class="dropdown-item" href="/all-monsters-demonio">Monstruos Demonio </a>            
              <a id="c" class="dropdown-item" href="/all-monsters-desconocido">Monstruos Desconocidos </a> 
            </div>
          </li>

        <li class="nav-item">
          <a class="nav-link as" href="/mainApp/celulas-monstruosas" tabindex="-1" aria-disabled="true">Celulas Monstruosas</a>
        </li>

         <li class="nav-item">
          <a class="nav-link as" href="/mainApp/patrocinador" tabindex="-1" aria-disabled="true">Patrocinador</a>
        </li>

        <li class="nav-item">
          <a class="nav-link as" href="/mainApp/agradecimientos" tabindex="-1" aria-disabled="true">Agradecimientos</a>
        </li>
      </ul>   
    </div>
    
  </nav>
</div>


